body {
    background-image: url(../img/1366_2000.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

/* // CABECERA // */

.header {
    height: 30vh;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    padding-top: 5px;
}



.header-left {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 30px;

}

#ms-logo {
    height: 30px;
}

.text-top {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

#dot {
    width: 20px;
}

#avatar {
    width: 30px;
}

.login-top {
    display: flex;
    align-items: center;
}

.login {

    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.header-right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    gap: 30px;
}

.rewards {
    display: flex;
    align-items: center;
    gap: 5px;
}

#troph {
    width: 30px;
}

/* // CUERPO // */

.main {
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-right: 20vw;
}

.search-container {
    background-color: white;
    width: 560px;
    height: 55px;
    border-radius: 22px;
    border: solid 1px rgb(189, 189, 189);
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items:  center;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgb(127, 127, 127);
}

#box-search {
    border: none;
    outline: none;
    width: 450px;
    height: 40px;
}

.icon {
    width: 28px;
}